services:
  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=password123

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=admin
      - ME_CONFIG_MONGODB_ADMINPASSWORD=password123
      - ME_CONFIG_MONGODB_SERVER=mongodb
    depends_on:
      - mongodb

  hbase:
    image: dajobe/hbase
    container_name: hbase
    ports:
      - "2181:2181"
      - "16010:16010"
      - "16020:16020"
      - "9090:9090"
    environment:
      - HBASE_HEAPSIZE=2G
    restart: unless-stopped
    volumes:
      - hbase_data:/data

volumes:
  mongo_data:
  hbase_data: